@using Microsoft.AspNetCore.Components.Web;
@namespace Syncfusion.Blazor.Calendars.Internal
@typeparam TCalendarCell
@inherits CalendarBase<TCalendarCell>;
@if (this.Cells % WEEKCOUNT == 0 && this.Parent.WeekNumber && CalendarRenderView == CalendarView.Month)
{
    <td class="@(CELL + " " + WEEKNUMBER)">
        <span>@Intl.GetWeekOfYear(LocalDates, this.CalendarLocale, true, this.Parent.WeekRule).ToString()</span>
    </td>
}
@{ 
    var cellData = new CellDetails { CellID = LocalDates.Ticks + "_" + this.Cells, ClassList = CellClass != null ? CellClass : this.TdEleClass, Element = this.dayCell, EventArgs = new MouseEventArgs(), CurrentDate = CurrentCellDate };
    var ariaSelected = cellData.ClassList?.Contains(SELECTED, StringComparison.Ordinal).ToString().ToLower();
    <td @ref="dayCell" class="@(CellClass != null ? CellClass : this.TdEleClass)" id="@(LocalDates.Ticks + "_" + this.Cells)" aria-selected="@(ariaSelected)" role="gridcell" @onclick="@((e) => OnCellClick.InvokeAsync(cellData))" @onmouseover="@((e)=> this.Parent.HoverSelection(cellData))">
        <span title="@this.DayTitle" class="@LINK">@this.DayLink</span>
    </td> 
}

